.contact-card {
  background-color: #64c6ff !important;
  border-radius: 16px;
  box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.247);
  padding: 32px;
}

.contact-card-text {
  font-size: 18px;
}

.contact-card-text a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.info-cards {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 16px;
}

.info-card {
  display: flex;
  align-items: center;
  list-style: none;
  width: 220px;
  height: auto;
  flex-direction: column;
  margin: 0 auto;
  gap: 8px;
}
.info-card p {
  margin: 0;
}

.form-container {
  box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.247) !important;
}
