* {
  box-sizing: border-box;
  transition: all 0.3s linear !important;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: rgb(0, 119, 255);
}

nav {
  position: fixed;
  top: 0;
  background: #ffffff88;
  width: 100%;
  height: 70px;
  padding: 8px 16px 0px;
  box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.4);
  z-index: 10;
  box-sizing: unset;
}

.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.custom-navbar img {
  width: 170px;
  height: auto;
  filter: drop-shadow(1px 1px 8px black);
}
.custom-navbar img:hover {
  filter: drop-shadow(1px 1px 8px rgb(0, 119, 255));
}

.custom-navbar ul {
  margin-right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  list-style: none;
}

#navbar-lg {
  margin-bottom: 0;
}

#navbar-lg a {
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
#navbar-lg a:hover {
  color: rgb(0, 119, 255);
}

.contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: black;
  color: white !important;
}
.contact-btn:hover {
  background-color: rgb(0, 255, 170);
  color: white !important;
  text-shadow: 0 0 8px black;
}
.contact-btn img {
  margin-right: 8px;
  width: 22px !important;
}

#navbar-md {
  display: none;
}

@media (width < 800px) {
  nav {
    justify-content: space-between !important;
    height: 50px;
    padding: 8px 0 8px 8px;
  }
  .custom-navbar a img {
    width: 130px;
  }
  #navbar-md {
    display: flex;
  }

  #navbar-lg {
    display: none;
  }

  .contact-btn {
    margin-right: 8px !important;
  }
}

.products-dropdown-content {
  top: 35px !important;
  right: -60px !important;
  width: 200px;
}

.products-dropdown-content a:hover {
  padding: 10px 18px !important;
}

.dropbtn {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: black;
  border: none;
  cursor: pointer;
  margin-right: 14px;
  border-radius: 8px;
}
.dropdown {
  display: none;
  position: relative;
  display: inline-block;
}
.dropdown-content {
  top: 55px;
  right: 14px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  border-radius: 8px;
  display: block;
}
.dropdown-content a:hover {
  background-color: black;
  color: white !important;
  padding: 16px 12px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: black;
}

.parallax {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  z-index: -10;
  /* width: 40%; */
  /* padding: 40%; */
  /* box-sizing: border-box; */
}

.parallax img {
  width: 100%;
}

.parallax .hero-box {
  position: absolute;
  bottom: 20%;
  right: 10%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  color: white;
  padding: 24px;
  font-size: 2vw;
}
@media (width < 800px) {
  .parallax .hero-box {
    bottom: 8%;
    right: unset;
    padding: 8px;
  }
}

.parallax .hero-box p {
  margin: 0;
}

.content-box {
  width: 100%;
  background-color: white;
}

.custom-container {
  background-color: white;
  max-width: 1200px;
  margin: 29% auto 0;
  padding: 22px 16px;
}

.custom-container h1 {
  margin-bottom: 22px;
  font-size: 32px;
  text-align: center;
  font-weight: 700;
}

.get-a-quote {
  background-color: #007dc5;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
}

.get-a-quote:hover {
  background-color: #b8b8b8;
}

.category-cards img:hover {
  box-shadow: 0 4px 16px 2px rgba(0, 0, 0, 0.4);
  filter: grayscale(0.5) brightness(0.5);
}

#startchange video {
  border-radius: 22px !important;
  box-shadow: 0 4px 16px 2px rgba(0, 0, 0, 0.4);
}

#startchange > img {
  width: 400px;
  height: 400px;
}

.hot-product img {
  border-radius: 22px !important;
  box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.527);
  width: 100%;
}

@media (width < 800px) {
  #startchange > img {
    width: 60%;
    height: auto;
  }

  #startchange .hot-product {
    flex-direction: column;
  }

  .hot-product img {
    width: 100% !important;
  }
}
footer {
  box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.4);
}

footer a {
  text-decoration: none;
  color: white;
}

footer .social-text {
  font-size: 22px;
}

footer .fab {
  font-size: 22px;
  color: black;
}

.loader-wrapper {
  display: flex;
  background-color: #00a2ff;
  z-index: 10;
}
.loader {
  width: 200px;
  height: 200px;
  border: 8px solid #fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
.loader-inner img {
  width: 200px;
  height: 200px;
}
@media (width < 800px) {
  .loader {
    width: 100px;
    height: 100px;
    border: 4px solid #fff;
  }

  .loader-inner img {
    width: 100px;
    height: 100px;
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
