.get-a-quote {
  display: block;
  max-width: 300px;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #007dc5;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  margin: 8px 0;
}

.get-a-quote:hover {
  background-color: rgb(219, 219, 219);
}

@media (width < 800px) {
  .get-a-quote {
    margin: 0;
    display: flex;
    justify-content: center;
  }
}

.custom-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.custom-container .about-us {
  max-width: 600px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.custom-container h2 {
  border-bottom: 2px solid black;
}

.custom-container p {
  /* margin-bottom: 32px; */
}
